.subscribe_button{
    button{
        background-color: rgb(165, 42, 42);
        color: white;
        border: none;
        border-radius: 1px;
        height: 30px;
        width: 100px;
        cursor: pointer;
    }
}